<ion-header>
  <ion-toolbar>
    <ion-title>
      Election Management System
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-button
            size="medium"
            expand="full"
            color="primary" 
            routerLink="/result">
            Show election result
          </ion-button>
        </ion-col>
        <ion-col col-6>
          <ion-button
            size="medium"
            expand="full"
            color="primary" 
            routerLink="/home">
            Home
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-item>
      <ion-label position="floating">Election</ion-label>
      <ion-select [(ngModel)]="selectedElection">
        <ion-select-option *ngFor="let election of allElections" [value]="election">{{election.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Voter ID</ion-label>
      <ion-input [(ngModel)]="voterId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Date of Birth</ion-label>
      <ion-datetime [(ngModel)]="dob" display-format="MM-DD-YYYY" picker-format="MM DD YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Transaction Id</ion-label>
        <ion-input [(ngModel)]="transactionId"></ion-input>
      </ion-item>
  </ion-list>

  <ion-button text-center 
              expand="full"
              size="large"
              color="success" 
              (click)="getVote()">
              Verify Vote
  </ion-button>

  <ion-item *ngIf="candidate">
      <ion-label>Your vote was casted to</ion-label>
  </ion-item>
  <ion-item *ngIf="candidate">
      <img style="padding: 10px" src="{{candidate?.photoUrl}}" />
      <ion-label>{{candidate?.name}}</ion-label>
    </ion-item>
</ion-content>
