<ion-header>
  <ion-toolbar>
    <ion-title>
      Election Management System
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-button
            size="medium"
            expand="full"
            color="primary" 
            routerLink="/verifyvote">
            Verify my vote
          </ion-button>
        </ion-col>
        <ion-col col-6>
          <ion-button
            size="medium"
            expand="full"
            color="primary" 
            routerLink="/home">
            Home
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-item>
      <ion-label position="floating">Election</ion-label>
      <ion-select [(ngModel)]="selectedElection">
        <ion-select-option *ngFor="let election of allElections" [value]="election">{{election.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <ion-button text-center 
              expand="full"
              size="large"
              color="success" 
              (click)="getElectionResult()">
              Show Election Result
  </ion-button>

  <ion-list *ngIf="gotResult">
      
      <ion-list-header>
        Candidates
      </ion-list-header>
      
      <ion-item *ngFor="let candidate of result">
        <img style="padding: 10px" src="{{candidate?.photoUrl}}" />
        <ion-label>{{candidate?.name}}</ion-label>
        <ion-label>{{candidate?.voteCount}}</ion-label>
      </ion-item>
    
    </ion-list>

</ion-content>
